package main
import "os"
import "io"
{{.Prelude}}

func main() {
	if err := run(); err != nil {
		fmt.Println("Error: ", err)
		os.Exit(1)
	}
}

func run() error {
	j := new(Node)
	var val interface{}
	err := json.NewDecoder(os.Stdin).Decode(&val)
	if err != nil {
		return fmt.Errorf("unmarshal: %w", err)
	}
	j.val = val

	{{.Program}}

	fmt.Println(j.String())
	return nil
}